
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size:80px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size:40px;
    font-weight:thin;
    color: #5a5858;

}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: lightsalmon;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: brown;
}

.brown {
   background-color: brown; 
   width:200px;
   height: 200px;
}

.lightsalmon {
    background-color: lightsalmon; 
    width:200px;
    height: 200px;
 }

 .grey {
    background-color:#5a5858; 
    width:200px;
    height: 200px;
 }