
h1 {

}

h2 {
    font-family: 'Bebas Neue', cursive;
}

h3 {
    background: lightsalmon;
}

h4 {
    
}

p {
    font-family: 'Varela Round', sans-serif;
    background-color: lightgray;
    color: brown;
}